
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-family: 'Quicksand', sans-serif;
    background: rgb(226,223,226);
    background: linear-gradient(0deg, rgba(226,223,226,1) 50%, rgba(111,245,193,1) 100%);
}
#img-div{
    text-align: center;
    height: 100%;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
}
header{
    padding: 2em;
}
header h5{
    margin: 0;
}
.content-2{
    display: flex;
}
.content-2 h5{
    margin: -3px;
    
}
.content-2 img{
    width: 100%;
    padding: 0.5em;
}

section{
    margin: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
footer a{
    text-decoration: none;
}
footer a:hover, footer a:focus{
    text-decoration: underline;
}
footer a:visited{
    color: black;
}
@media only screen and (max-width: 800px){
    .desktop{
        display: none;
    
}


